@charset "UTF-8";
/*
Projet UE1.1 Langages HTML et CSS
Author: Passeri Mario
clinique Osteopathique,souhait d'avoir un site web pour la prise de Rendez-Vous en ligne
Version: 1.0.0
*/
/* variables */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 800px;
  margin: 0 auto;
}

/* header */
header {
  background-color: #f8f8f8;
}

.logo_oscar {
  max-width: 400px;
  margin: 0 10px;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo_ministere {
  margin: auto;
  position: absolute;
  left: 75%;
  transform: translateX(-50%);
  top: 20%;
  height: 100px;
  z-index: 1;
}

.banniere1 {
  font-size: 0.8rem;
  background-color: #009792;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: auto auto;
  padding-top: 6px;
  height: 25px;
  position: absolute;
  left: 75%;
  transform: translateX(-50%);
  width: 50%;
  z-index: 2;
}

.banniere2 {
  font-size: 0.8rem;
  background-color: #009792;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: auto auto;
  padding-top: 6px;
  height: 25px;
  position: absolute;
  bottom: -10%;
  left: 75%;
  transform: translateX(-50%);
  width: 50%;
  z-index: 2;
}

/* Réservation */
.zone-reservation {
  background: url(../../assets/img/osteoRDV800x168.jpg) repeat-x;
  height: 168px;
  margin-top: 40px;
}

.reservation {
  color: #009792;
  background-color: rgba(248, 248, 248, 0.7);
  text-align: center;
  padding: 10px;
  font-size: 2.8rem;
  font-weight: normal;
}

/* Main */
main {
  background-color: #f8f8f8;
  padding: 20px 30px;
  font-size: 1.9rem;
}

.flexi-form {
  margin: 30px auto;
}

.float_input {
  display: block;
  float: right;
  margin: -30px 58%;
  width: 180px;
}

.float_input_date {
  display: block;
  float: right;
  height: 34px;
  margin: -30px 58%;
  width: 180px;
}

select {
  display: block;
  float: right;
  margin: -30px 58%;
  width: 180px;
  background-color: white;
}

.Autorisation {
  height: 30px;
  width: 30px;
  position: absolute;
}

.texte-autorisation {
  font-style: italic;
  display: inline-block;
  margin: 3px 40px 10px 40px;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

[type=checkbox] {
  height: 30px;
  width: 30px;
  background: #fff;
  border: 2px solid #000000;
  transition-duration: 0.3s;
}

[type=checkbox]:hover {
  transition-duration: 0.2s;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.7);
}

[type=checkbox]:checked {
  transition-duration: 0.3s;
  background: #00978e;
  margin: 0;
}

button {
  background-color: #00978e;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  border: transparent;
}

button {
  background-color: #00978e;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  border: transparent;
  transition-duration: 0.2s;
  cursor: pointer;
}

button:hover {
  transition-duration: 0.2s;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.5);
  padding: 10px 10px 10px 10px;
  color: white;
  border: 0 solid transparent;
  border-radius: 5px;
}

.error-relative {
  position: relative;
}

.input_heure, .input_tarif, .float_input_date, .Autorisation {
  cursor: pointer;
}

/* footer */
footer {
  background-color: #313445;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

footer img {
  width: 80%;
}

footer h2 {
  margin: 25px 0;
  text-transform: uppercase;
}

.text-footer {
  margin-top: 5px;
  font-weight: bold;
}

/* responsive */
@media only screen and (min-width: 300px) and (max-width: 800px) {
  body {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }

  /* header */
  .flex-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .logo_ministere {
    position: relative;
    left: 0;
    transform: translateX(0);
    display: flex;
    justify-content: center;
    top: 0;
    margin: 0 auto;
    height: 100px;
    z-index: 1;
  }

  .banniere1 {
    font-size: 0.9rem;
    background-color: #009792;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto auto;
    padding-top: 6px;
    height: 25px;
    position: relative;
    left: 0;
    transform: translateX(0);
    width: 100%;
    z-index: 2;
  }

  .banniere2 {
    font-size: 0.9rem;
    background-color: #009792;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto auto;
    padding-top: 6px;
    height: 25px;
    position: relative;
    bottom: 0;
    left: 0;
    transform: translateX(0);
    width: 100%;
    z-index: 2;
  }

  /* Réservation */
  .zone-reservation {
    background: url(../../assets/img/osteoRDV400x120.jpg) repeat-x;
    height: 168px;
    margin-top: 5px;
  }

  .reservation {
    color: #009792;
    background-color: rgba(248, 248, 248, 0.7);
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    font-weight: normal;
  }

  /* Main */
  main {
    background-color: #f8f8f8;
    padding: 5px 30px;
    font-size: 1.9rem;
  }

  .flexi-form {
    margin: 25px auto;
  }

  .flex-mobile {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .float_input {
    display: block;
    float: right;
    margin: 0;
    width: 180px;
  }

  .float_input_date {
    display: block;
    float: right;
    height: 34px;
    margin: 0;
    width: 180px;
  }

  select {
    display: block;
    float: right;
    margin: 0;
    width: 180px;
    background-color: white;
  }

  button {
    background-color: #00978e;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    border: transparent;
  }

  .input_heure, .input_tarif, .float_input_date, .Autorisation {
    cursor: pointer;
  }

  .Autorisation {
    height: 30px;
    width: 30px;
    position: absolute;
  }

  .texte-autorisation {
    font-style: italic;
    margin: 5px 40px 10px 40px;
    width: 90%;
    max-width: 250px;
  }

  /* footer */
  footer {
    background-color: #313445;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }

  footer img {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  footer h2 {
    margin: 25px 0;
    text-transform: uppercase;
  }

  .text-footer {
    font-weight: bold;
    text-align: left;
    margin: 10px 30px 10px 30px;
  }
}

/*# sourceMappingURL=style.css.map */
